# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Environment Variables
.env

# Project Specific (Large files, datasets, models)
data/
models/
