# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
.venv/

# Jupyter Notebooks
.ipynb_checkpoints

# Distribution / Packaging
build/
dist/
*.egg-info/

# Environment Variables
.env

# IDEs
.vscode/
.idea/

# OS Specific
.DS_Store
Thumbs.db

# Project Specific (Large files, datasets, models)
data/
models/
*.pkl
*.h5
*.pt